
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 10px;
    background-color: #d6d6d6;
    
}
.js-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px 5px;
    padding: 5px 5px;
    width: 22%;
    min-width: 200px;
    color: #35383a;
    background: #f6f9fb;
    border: 5px solid #ffffff ;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    
}

.js-title {
    text-transform: uppercase;
}

.js-mail {
    margin-left: 20px;
    text-decoration: none;
    color: #7f8e9a;
}

.js-delete {
    align-self: flex-end;
    border: 1px solid ;
    border-radius: 5px;
    cursor: pointer;
    background: #f6f9fb;
}

.js-delete:active {
    vertical-align: middle;
    color: red;
}

